html
	head
		title haseebnqureshi/passport-example
	body
		h2 App
		div
			a(href= paths.account) Manage Account

		if !user.google_id
			div
				a(href= paths.authGoogle) Connect your Google account
		div

			include google-gmail.pug

			a(href= paths.logout) Logout