html
	head
		title haseebnqureshi/passport-example
	body
		h2 Login
		p= message
		form(action= paths.authLocal, method="POST")
			div
				label Email:
				input(type="email", name="email")
			div
				label Password:
				input(type="password", name="password")
			div
				input(type="submit", value="Log In")
		div
			a(href= paths.authGoogle) Login with Google
		div
			a(href= paths.register) Don't have an account? Register
