html
	head
		title googleapis-passport
	body
		h2 Login
		p= message
		form(action="/auth/local", method="POST")
			div
				label Email:
				input(type="email", name="email")
			div
				label Password:
				input(type="password", name="password")
			div
				input(type="submit", value="Log In")
		div
			a(href="/auth/google") Login with Google
		div
			a(href="/register") Don't have an account? Register
