html

	- var title = "Plan"
	include head.pug

	body

		.uk-container.uk-section

			div(uk-grid)

				.uk-width-1-3

					include vue-plan.pug

				.uk-width-2-3



					.uk-overflow-auto
						table.uk-table.uk-table-small.uk-table-divider.uk-table-justify.uk-table-middle
							thead
								tr
									th
									th Task
									th.uk-table-shrink Hrs.
									th.uk-table-shrink Est. Hrs.
									th.uk-table-shrink Progress
									th
							tbody
								tr
									td.dd-handle
										span(uk-icon="menu")
									td This is the first task
									td.uk-table-shrink 0
									td.uk-table-shrink 1
									td.uk-table-shrink 0%
									td
								tr
									td.dd-handle
										span(uk-icon="menu")
									td This is the first task
									td.uk-table-shrink 0
									td.uk-table-shrink 1
									td.uk-table-shrink 0%
									td
								tr
									td.dd-handle
										span(uk-icon="menu")
									td This is the first task
									td.uk-table-shrink 0
									td.uk-table-shrink 1
									td.uk-table-shrink 0%
									td

					.uk-overflow-auto.uk-margin
						table.uk-table.uk-table-small.uk-table-divider.uk-table-justify.uk-table-middle
							thead
								tr
									th
									th Primary Objective
									th.uk-table-shrink (S)pecific
									th.uk-table-shrink (M)easurable
									th.uk-table-shrink (A)ctionable
									th.uk-table-shrink (R)ealistic
									th.uk-table-shrink (T)imely
									th
							tbody
								tr
									td.dd-handle
										span(uk-icon="menu")
									td Creating work breakdown structure
									td.uk-table-shrink 
										input(type="checkbox").uk-checkbox
									td.uk-table-shrink 
										input(type="checkbox").uk-checkbox
									td.uk-table-shrink 
										input(type="checkbox").uk-checkbox
									td.uk-table-shrink 
										input(type="checkbox").uk-checkbox
									td.uk-table-shrink 
										input(type="checkbox").uk-checkbox
									td


					.uk-overflow-auto.uk-margin
						table.uk-table.uk-table-small.uk-table-divider.uk-table-justify.uk-table-middle
							thead
								tr
									th
									th Collaborator
									th.uk-table-shrink Status
									th
							tbody
								tr
									td.dd-handle
										span(uk-icon="menu")
									td.uk-table-shrink dmorehous@morehouslegal.com
									td.uk-table-shrink Invited
									td
								tr
									td.dd-handle
										span(uk-icon="menu")
									td.uk-table-shrink sgroer@morehouslegal.com
									td.uk-table-shrink Accepted
									td







			div.small-margin
				p.uk-text-muted &copy; 2018 Avenue Digital Company, LLC

