html

	- var title = "Register"
	include head.pug

	body

		.uk-container.uk-section
			h2 Register

			if message.length > 0
				div(uk-alert).uk-alert-warning
					a(uk-close).uk-alert-close
					p= message

			form(action= paths.register, method="POST").uk-form-stacked
				div.uk-margin-bottom
					label.uk-form-label Email:
					.uk-inline
						span(uk-icon="icon: mail").uk-form-icon.uk-form-icon-flip
						input(type="email", name="email", value= email, required).uk-input.uk-form-width-medium
				div.uk-margin-bottom
					label.uk-form-label Password:
					.uk-inline
						span(uk-icon="icon: lock").uk-form-icon.uk-form-icon-flip
						input(type="password", name="password", required).uk-input.uk-form-width-medium
				div.uk-margin-bottom
					label.uk-form-label Confirm Password:
					.uk-inline
						span(uk-icon="icon: lock").uk-form-icon.uk-form-icon-flip
						input(type="password", name="password_confirm", required).uk-input.uk-form-width-medium
				div
					input(type="submit", value="Register").uk-input.uk-form-width-medium.uk-button.uk-button-primary
			div
				a(href= paths.authGoogle) Register with Google
			div
				a(href= paths.login) Or have an account? Login
