html
	head
		title haseebnqureshi/passport-example
	body
		h2 Register
		p= message
		form(action= paths.register, method="POST")
			div
				label Email:
				input(type="email", name="email", value= email, required)
			div
				label Password:
				input(type="password", name="password", required)
			div
				label Confirm Password:
				input(type="password", name="password_confirm", required)
			div
				input(type="submit", value="Register")
		div
			a(href= paths.authGoogle) Register with Google
		div
			a(href= paths.login) Or have an account? Login
