					#items

						p {{serialized}}

						.dd
							ol.dd-list
								li(v-for="item in items", v-bind:data-id="item.id").dd-item
									span.dd-handle
										span(uk-icon="icon: bolt; ratio: 1")
									editable(
										v-model="item.title", 
										v-on:update:value="update(item.id, 'title', $event)"
										v-on:update:trash="trash(item.id)"
									)
								li
									editable(
										v-model="item.title"
										hide-trash
									)
									button(v-on:click="create") Create
